<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/slider-show.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/hallway.css">
    <link rel="stylesheet" href="../static/css/book.css">
    <link rel="stylesheet" href="../static/css/autocomplete.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_3881267_wfv3iyzbijg.css">


</head>

<body class="light">

    <div class="header"
        style="background-image: url('../static/images/header_bg.png'); background-size: cover; background-position: center;">
        <img src="../static/images/logo.png" style="position: absolute; width: 4.5rem; "></img>
        <h1 style="font-family: font_title; text-align: center; margin: 6rem;">非遗图寻</h1>
        <div class="showtime" style="font-family: font_title">当前时间：2024年10月8-0时54分14秒</div>
        <img src="../static/images/s5d876d0d105af.png" style="text-align: right;"></img>
    </div>


    <div class="main">
        <ul class='slider'>
            <li class='item' style="background-image: url('../static/images/1.jpg')">
                <div class='content'>
                    <h3 class='title'>"汉字书法"</h2>
                        <p class='description'>
                            汉字书法习称“书法”，是流行于全中国的一种书写汉字的传统艺术。作为规律性的汉字书写手段和通过汉字书写表情达意的艺术形式，书法在中国已经历了数千年的发展，从甲骨文、金文演变为大篆、小篆、隶书，再定型为东汉、魏、晋的草书、楷书、行书诸体，它依托象形的汉文字符号，使用独特的书写工具，以特定的文辞、用笔、结体和章法体现着中华民族的思维方式、价值观念和审美意识，传达出中国人特有的人格风范与性情志趣，成为中华文化不可分割的重要组成部分。在世界各民族中，能将实用文字的书写发展成与绘画、音乐、舞蹈、雕塑、文学并列的艺术，只有中华民族的汉字书法。从这个意义上说，它不仅是中华民族的文化瑰宝，也是世界文化艺术宝库中的珍贵财富。
                        </p>
                        <button
                            onclick="window.open('https://baike.baidu.com/item/%E4%B9%A6%E6%B3%95/177069#:~:text=%E4%B9%A6%E6%B3%95%E6%98%AF%E4%B8%AD%E5%9B%BD%E5%8F%8A')">了解更多</button>
                </div>
            </li>
            <li class='item' style="background-image: url('../static/images/2.webp')">
                <div class='content'>
                    <h3 class='title'>"剪纸（蔚县剪纸）"</h2>
                        <p class='description'>
                            蔚县位于河北省西北部，以出产剪纸而闻名。蔚县剪纸又称“窗花”，是当地民间一种传统的装饰艺术，至今已有二百多年的历史，初始图案多为花卉一类的吉祥纹样，后融入天津杨柳青年画和武强年画的艺术特色，形成了自己特有的风格。经刘老布等剪纸艺人共同研究，对创作工具进行改革，部分纹用刻刀由单幅剪转变为成批刻，使蔚县剪纸工艺有了新的提高。20世纪初，在王老赏、王守业、周永明等艺人的带动下，蔚县剪纸的风格越来越突出，走出了民间剪纸的一般格局，具有了更为深厚的人文内涵。<br />
                            蔚县剪纸是民间社会的产物，更是百姓生活的写照。它题材广泛，花样繁多，有戏曲人物、戏曲脸谱、神话传说、花鸟鱼虫、家禽家畜、吉禽瑞兽等多方面的内容。
                        </p>
                        <button
                            onclick="window.open('https://baike.baidu.com/item/%E8%94%9A%E5%8E%BF%E5%89%AA%E7%BA%B8/4399969#:~:text=%E8%94%9A%E5%8E%BF%E5%89%AA%E7%BA%B8%EF%BC%8C%E6%B2%B3')">了解更多</button>
                </div>
            </li>
            <li class='item' style="background-image: url('../static/images/3.jpeg')">
                <div class='content'>
                    <h3 class='title'>"灯彩（上海灯彩）"</h2>
                        <p class='description'>
                            上海灯彩是在上海都市环境中发展起来的一种新型灯彩艺术，它继承古代灯彩的优秀技艺并加以合理发展，不仅材质有所更新，品种也更为丰富。海派灯彩分撑棚灯、走马灯、宫灯、立体动物灯四大类型，其中以何克明为代表的立体动物灯彩集观赏性、艺术性、装饰性于一体，是上海灯彩艺术最精粹的部分。<br />
                            何克明有“江南灯王”的美誉，是立体动物灯彩的创始人。他博采南北灯彩之精华，又吸收西洋雕塑艺术，别出心裁，逐渐突破流行的灯彩形制，形成了自具面目的个性化风格，制作中以艺术手段赋予灯彩灵动的生命，命意讲究雅俗共赏，往往借助吉利话、“讨口彩”寄托人们追求美好生活的思想感情。何氏灯彩以动物造型为骨架结构，用铅丝缠绕皱纸代替传统的竹篾，扎制出的灯彩骨骼结构准确，细致精湛，造型生动，姿态传神。
                        </p>
                        <button
                            onclick="window.open('https://baike.baidu.com/item/%E7%81%AF%E5%BD%A9%EF%BC%88%E4%B8%8A%E6%B5%B7%E7%81%AF%E5%BD%A9%EF%BC%89/53460380?fromtitle=%E4%B8%8A%E6%B5%B7%E7%81%AF%E5%BD%A9&fromid=3603241')">了解更多</button>
                </div>
            </li>
            <li class='item' style="background-image: url('../static/images/4.jpeg')">
                <div class='content'>
                    <h3 class='title'>"皮影戏（唐山皮影戏）"</h2>
                        <p class='description'>
                            　　皮影戏是一种用兽皮或纸板剪制形象并借灯光照射所剪形象而表演故事的戏曲形式。其流行范围极为广泛，几乎遍及全国各省区，并因各地所演的声腔不同而形成多种多样的皮影戏，如陕西的华县皮影戏、华阴老腔皮影戏、阿宫腔皮影戏、弦板腔皮影戏，甘肃的环县道情皮影戏，山西的孝义碗碗腔皮影戏，河北的唐山皮影戏等<br />
                            皮影戏的形成时代尚无确考，但据南宋孟元老《东京梦华录》记载，它至晚在宋代已经成熟和盛行，东京汴梁瓦舍中的影戏艺人已有董十五、赵七、曹保义等9人。
                        </p>
                        <button
                            onclick="window.open('https://baike.baidu.com/item/%E7%9A%AE%E5%BD%B1%E6%88%8F%EF%BC%88%E5%94%90%E5%B1%B1%E7%9A%AE%E5%BD%B1%E6%88%8F%EF%BC%89?fromModule=lemma_search-box')">了解更多</button>
                </div>
            </li>
            <li class='item' style="background-image: url('../static/images/5.jpeg')">
                <div class='content'>
                    <h3 class='title'>"英歌（潮阳英歌）"</h2>
                        <p class='description'>
                            英歌，又称“鹰歌”、“鹦哥”、“唱英歌”或“秧歌”，是一种融舞蹈、南拳套路、戏曲演技于一体的民间广场舞蹈，表演气势豪壮，气氛浓烈，流传于广东、福建等地，由男子表演，有歌颂英雄的含义。相传已有三百多年的历史，来源多解释为当地民众尚武习俗的变体或搬演《水浒传》故事。英歌一般在逢年过节期间演出，舞者多为双数，少则12人，多至108人，每人手执一对彩色木棒，配合锣鼓点和吆喝，挥动双棒交错翻转叩击，边走边舞；演出分为“前棚”和“后棚”两段，前棚为锣鼓乐演奏和英歌舞；后棚为各具特色的小戏和拿手节目。英歌舞的基本动作是舞棒，舞时每人各执两根圆形短木棒（直径10厘米，长20厘米），双脚成骑马蹲裆步，提腿向横跃动，双手随锣鼓节奏上下左右对击木棒，头和身体随之自然晃动。英歌节奏有慢板、中板、快板三类；有时套路多达20套，有“洗街”、“拜年”、“布年”、“背槌”、“过胯”、“抱槌勾脚”等。英歌舞具有鲜明的阳刚英武之气，舞至高潮，呐喊与螺号声响彻四方，气势磅礴，震撼人心。
                        </p>
                        <button
                            onclick="window.open('https://baike.baidu.com/item/%E8%8B%B1%E6%AD%8C%EF%BC%88%E6%BD%AE%E9%98%B3%E8%8B%B1%E6%AD%8C%EF%BC%89/51151106#:~:text=%E8%8B%B1%E6%AD%8C%EF%BC%88%E6%BD%AE%E9%98%B3%E8%8B%B1')">了解更多</button>

                </div>
            </li>
            <li class='item' style="background-image: url('../static/images/6.jpeg')">
                <div class='content'>
                    <h3 class='title'>"糖塑（成都糖画）"</h2>
                        <p class='description'>
                            糖塑是传统中国民间塑作的一个特殊种类，主要是利用食糖可塑的特性将之制作成形。与西方雕塑不同，中国民间塑作包含了绘画、雕塑、刻印、装饰等丰富的造型因素，更多地体现出自身传统的美学旨趣和技艺特色。糖塑多以俗称“糖稀”的麦芽饴糖和玉米糖为原料，综合采用捏、堆、贴、剪、吹、搓、拽、按、浇、拉等制作手段和绘、染、刻、划、点、戳、印、插、缀等装饰手法完成作品的塑造。糖塑制品既可欣赏娱玩，又可直接食用。在中国民间，糖塑遍布南北各地，有着广泛的群众基础，与民俗生活息息相关。
                            <br />
                            成都糖画俗称“倒糖饼儿”、“糖粑粑儿”、“糖灯影儿”，是流行于四川省成都地区的一种兼具雕塑性和绘画性的民间艺术。成都糖画历史悠久，据《本草纲目》记载：“以白砂糖煎化，模印成人物狮象之形者为飨糖，《后汉书》注所谓猊糖是也。”
                        </p>
                        <button
                            onclick="window.open('https://baike.baidu.com/item/%E7%B3%96%E5%A1%91%EF%BC%88%E6%88%90%E9%83%BD%E7%B3%96%E7%94%BB%EF%BC%89/51145087#:~:text=%E7%B3%96%E5%A1%91%EF%BC%88%E6%88%90%E9%83%BD%E7%B3%96')">了解更多</button>
                </div>
            </li>
        </ul>
        <nav class='nav'>
            <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
            <ion-icon class='btn next iconfont icon-anniu-jiantouxiangyou' name="arrow-forward-outline"></ion-icon>
        </nav>

    </div>
    <div class="insert">
        <div class="upload">
            <h2>上传你想识别的图片</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <ul class="piclist">
                    <li class="file">
                        <input type="file" name="file" id="file" />
                    </li>
                </ul>
                <!-- 加载动画 -->
                <div class="animbox">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button id="confirm">确定</button>

            </form>
        </div>
        <div class="searchbox">
            <h2>输入你想查找的内容</h2>
            <form>
                <input id="search" type="search" pattern=".*\S.*" required autocomplete="off">
                <span class="caret"></span>
            </form>
            <!-- <div id="reminder_bubble">
                    <p>点击放大镜展开搜索框</p>
                </div> -->
        </div>
        <script>
            document.getElementById('confirm').addEventListener('click', function () {

            });
        </script>
    </div>


    <footer class="footer">

        <div class="social-icons">
            <a href="https://github.com/ideal130778" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://weibo.com/yourusername" target="_blank" aria-label="Weibo">
                <i class="fab fa-weibo"></i>
            </a>
            <a href="mailto:ideal130778@gmail.com" target="_blank" aria-label="Email">
                <i class="fas fa-envelope"></i>
            </a>

        </div>
        <!-- <p class="contact">联系我们</p> -->
        <p class="copyright">Copyright © 2024 Idealle. All rights reserved. </p>

        <p class="copyright">版权所有 © 2024 某aigc小组</p>
    </footer>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="../static/js/autocomplete.js"></script>
    <script src="../static/js/trigger.js"></script>
    <script src="../static/js/countdown.js"></script>
    <script src="../static/js/slider.js"></script>
    <script src="../static/js/upload.js"></script>
    <!-- 上传图片的插件 -->
    <script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
</body>

</html>